<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Erreur détectée: {{ status_text }}</title>
  </head>
  <body>
    <h1>Oops! Une erreur à été détectée</h1>
    <div class="col-xs-6">
        <img class="img-responsive pull-right" src="{{asset('/lib/img/404-ghost.png')}}" alt="Error ghost"/>
    </div>
    <div class="col-xs-6">
        <h1>Le serveur à retourné une erreur : "{{ status_code }} {{ status_text }}".</small></h1>
    </div>
  </body>
</html>
