{% extends "layout.html.twig" %}
{% block content %}
<h2>Planning de {{app.user.name}}</h2>
<div class="row">
    <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">Responsable</th>
                     {% for i in 1..5 %}
                        {% set assigned_user = ' ' %}
                        {% for user in users if user.planningday == i%}
                            {% set assigned_user = user %}
                        {% endfor %}
                        <td>{{assigned_user.name}} {{assigned_user.lastname}}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        {% for i in 1..5 %}
                        {% set assigned_user = ' ' %}
                        {% for user in users if user.planningday == i%}
                            {% set assigned_user = user %}
                        {% endfor %}
                        <td>{{assigned_user.planningcontent}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
    
</div>


{% endblock %}