{% extends 'layout.html.twig' %}
{% block content %}
    <div class="jumbotron">
       <div class="container">
           Présentation Pedibus
        </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Pedibus Présentation</h2>
          <p>Présentation du Pedibus à travers plusieurs documents </p>
          <p><a class="btn btn-default" href="{{path('info')}}" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Information Inscription</h2>
          <p>Informations et Inscriptions, nouveau trajet; </p>
          <p><a class="btn btn-default" href="{{path('subscribe')}}" role="button">View details &raquo;</a></p>
       </div>
      </div>
{% endblock %}

