homepage:
    path:     /
    defaults: { _controller: SimonPediBundle:Display:index }
info:
    path: /info
    defaults: { _controller: SimonPediBundle:Display:info }
mapinfo:
    path: /map
    defaults: { _controller:SimonPediBundle:Display:map }
mapservice:
    path: /map/mapservice
    defaults: { _controller:SimonPediBundle:Display:mapService}
    methods: [get]
view:
    path: /advert/{id}
    defaults: { _controller:SimonPediBundle:Display:view}
    requirements:
        id: \d+
    options:
        expose: true
adminview:
    path: /view
    defaults: { _controller:SimonPediBundle:Display:viewAdmin}
subscribe:
    path: /subscribe
    defaults: { _controller:SimonPediBundle:Advert:subscribe }
listadvert:
    path: /listadvert
    defaults: { _controller:SimonPediBundle:Advert:listAdvert}
editadvert:
    path: /view/edit
    defaults: { _controller:SimonPediBundle:Advert:editAdvert}

deleteplanning:
    path: /delete
    defaults: { _controller:SimonPediBundle:Planning:unsubscribe}
planning:
    path: /planning/{id}
    defaults: { _controller:SimonPediBundle:Planning:view }
    requirements:
        id: \d+
planningsub:
    path: /planning/subscribe{id}
    defaults: { _controller:SimonPediBundle:Planning:subscribe}
    requirements:
        id: \d+
info_description:
    path: /info/description
    defaults: { _controller:SimonPediBundle:Display:infoDescription}
info_avantages:
    path: /info/avantages
    defaults: { _controller:SimonPediBundle:Display:infoAvantages }
info_fonc:
    path: /info/fonctionnement
    defaults: { _controller:SimonPediBundle:Display:infoFonctionnement }
credit:
    path: /credit
    defaults: { _controller:SimonPediBundle:Display:credit }
