{% extends "infoDisplay/info.html.twig" %}
{% block info %}
    <p class="infopedib">Emmener les enfants de la maison à l'école, sans bruit et sans pollution en permettant une activité physique régulière, le <b>Pédibus</b> possède plusieurs avantages.</p>
    <h3 class="infotitle">La sécurité : <span><img src="{{asset('/lib/img/vest.png')}}" alt="veste de sécurité"</span></h3>
    <p class="infosec"> Le Pédibus permet aux enfants d'intégrer des règles de sécurité et de comportement piétons. </p>
    <p class="infosec">Le Pédibus c'est aussi moins de voiture autour des écoles.</p>
    <p class="infosec">Et plus de sécurité pour les enfants qui se rendent à l'école en groupe.</p>
        </br>
    <h3 class="infotitle">La santé : <span><img src="{{asset('/lib/img/heart.png')}}" alt="veste de sécurité"</span></h3>
    <p class="infosec">Se rendre à l'école à pieds permet une activité physique régulière et contribut à éviter de nombreuses maladie liées à l'inactivité ( obésité, problèmes cardio-vasculaires, ... ).</p>
    <h3 class="infotitle">La convivialité :<span><img src="{{asset('/lib/img/children.png')}}" alt="veste de sécurité"</span> </h3>
    <p class="infosec">Des liens se créent sur le chemin de l'école entre parents et enfants .</p>
    <h3 class="infotitle">L'environnement : <span><img src="{{asset('/lib/img/arbre.png')}}" alt="arbre"</span></h3>
    <p class="infosec">Oubliez la voiture pour les petits trajets, la marche elle ne pollue pas!</p>
    {% endblock %}