{% extends "infoDisplay/info.html.twig" %}
{% block info %}
<p class="infopedib">Le Pédibus est un système d'accompagnement innovant pour amener les enfants à pieds à l'école sous la surveillance d'un adulte. </p>
<p class="infopedib">Engagez vous, 1 à 2 fois par semaine à accompagner vos enfants et ceux des autres parents à l'école à pied.</p> 
<img src="{{asset('/lib/img/enfant.jpg')}}" alt="enfant ecole" id="childschool">
{% endblock %}