{% extends "layout.html.twig" %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="map"> 
    </div>
</div>
{% endblock %}
{% block javascripts %}


<script type="text/javascript">
    var map;
    var schoolMarker;
    var userMarker;
    var advertMarker;
    var userLocation = JSON.parse('{{Ulocation|raw}}');
    var advertLocation = JSON.parse('{{Alocation|raw}}');

    function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
          center: 
          {lat:45.5885098 , lng:2.74221179999995},
          zoom:17
    });
    schoolMarker = new google.maps.Marker({
        position: new google.maps.LatLng(45.5883080, 2.7417770),
        map: map,
        title: "Ecole primaire de La Bourboule",
        icon: "{{asset('lib/img/iconschool1.png')}}"
    });
    for(i=0; i< userLocation.length; i++) {
        userMarker = new google.maps.Marker({
            position: new google.maps.LatLng(userLocation[i][1], userLocation[i][2]),
            map:map,
            icon: ''
        });
    }  
    for(i=0; i < advertLocation.length; i++) {
        advertMarker = new google.maps.Marker({
            position: new google.maps.LatLng(advertLocation[i][0], advertLocation[i][1]),
            map:map,
            icon: "{{asset('/lib/img/marker-48-vert.png')}}"
        })
    }    
    }
    
   
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLa5-VqaUHDErODU00fUHo_rkI-6n4m7U&callback=initMap"></script>

{% endblock %}
